PREFIX=v1
DOMAINS=["cloudflare.com","ismaelhv.com","localhost"]
ALLOWED_IPS=[]
AUTH_BASIC=[{"usr":"your_user","pwd":"your_password"}]
USERS=[{"user":"your_user","from":"BRAND <no-reply@your-domain.com>","template":"ihv"}]
RESEND_API_TOKEN=your_resend_api_token_here
RESEND_FROM=your_email@example.com
